@font-face {
	font-family: "reckoning";
	src: url("./fonts/28DaysLater.ttf");
}

@font-face {
	font-family: "runed";
	src: url("./fonts/CELTG.TTF");
}

#canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#controls {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 37em;
	color: white;
	text-align: center;
}

#controls ul {
	padding-left: 0;
	padding-right: 0;
	width : 12em;
	margin-left: auto;
	margin-right: auto;
	float : left;
	text-align: left;
	list-style-type:none; 
}
