@font-face {
	font-family: "reckoning";
	src: url("./fonts/28DaysLater.ttf");
}

@font-face {
	font-family: "runed";
	src: url("./fonts/CELTG.ttf");
}

#canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
